@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bitty';
  src: url('/fonts/Bitty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Bitty', monospace;
}
